body {
    color: rgb(253, 253, 253);
    background: linear-gradient(-90deg, rgba(29,75,36,1) 0%, rgba(38,30,25,1) 49%, rgba(5,46,74,1) 100%);
}

.Top-bar {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 10%;
    border: 2px solid rgb(255, 255, 255);
    text-align: left;
    margin: 0px;
    padding: 4px;
    background-color: rgb(0,10,9);
    color: rgb(225, 225, 225);
}

.Top-bar a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #d6d6d6;
    display: block;
}

.Top-bar-text {
    text-align: center;
    margin-left: 14px
}

.Top-bar a img {
    background-color: #464050;
    width: 30px;
    border-radius: 40%;
    padding: 5px;
}
.Top-bar a:hover img {
    background-color: #464050;
}

.Top-bar a:hover {
    color: #f1f1f1;
}

h1 {
    color:rgb(255, 255, 255);
    text-align: center;
}

h2 {
    color:rgb(255, 255, 255);
    text-align: center;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Future-careers {
    text-align: center;
}

table {
    background: linear-gradient(90deg, rgba(34,9,0,1) 0%, rgba(38,30,25,1) 50%, rgba(94,39,0,1) 100%);
}

table, th, td {
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
}

th {
    background-color: rgb(0, 10, 9);
    color: rgba(225, 240, 255, 0.781);
}
td {
    background-color: rgb(0, 10, 9);
    color: rgba(225, 240, 255, 0.781);
}

.Formatting {
    border-radius: 15px;
    backdrop-filter: blur(15px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.205);
    background-color: rgba(255, 255, 255, 0.05);
    padding: 15px;
    margin: 10px;
}

/*.Formatting::before {
    background: inherit;
    top: 0;
    left: 0;
    width: 100%
    height: 100%
    filter: blur(10px);
}*/

#Careers {
    background: linear-gradient(90deg, rgba(29,75,36,1) 0%, rgba(38,30,25,1) 49%, rgba(5,46,74,1) 100%);
}

#Sources-and-demos {
    background: inherit;    
    justify-content: center;
    align-items: center;
}

.Source-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.Source-card {
    position: relative;
    width: 320px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 40px 30px;
    transition: 0.5s;
}

.Source-card::before {
    content: ' ';
    position: absolute;
    top: -43px;
    left: 50px;
    width: 50%;
    height: 120%;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.Source-card::after {
    content: '';
    position: absolute;
    top:-43px;
    left: 50px;
    width: 50%;
    height: 120%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
}

.Source-card:hover:before,
.Source-card:hover:after 
{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}

.Source-card:nth-child(1):before,
.Source-card:nth-child(1):after
{
    background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.Source-card:nth-child(2):before,
.Source-card:nth-child(2):after
{
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.Source-card:nth-child(3):before,
.Source-card:nth-child(3):after
{
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.Source-card span
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
}

.Source-card span::before
{
    content: 'a';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height:0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.1s;
    animation: animate 2s ease-in-out infintite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

Source-card:hover span::before
{
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

Source-card span::after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px, 15px, rgba(0,0,0,0.08);
    animation-delay: -1s;
}

.Source-card:hover span::after 
{
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes animate
{
    0%, 100%
    {
        tranform: translateY(10px);
    }

    50%
    {
        transform: translate(-10px);
    }
}

.Source-content
{
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
}

.Source-card:hover .Source-content
{
    left: -25px;
    padding: 60px 40px;
}

.Source-container .Source-card .Source-content h2
{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

.Source-container .Source-card .Source-content p
{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.Source-container .Source-card .Source-content a
{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}
